main {
    padding: 0;
    margin: 0;
}

#div-apresentation {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 24px;
    grid-column: 1/3;
}

/* #div-apresentation {
    font-size: 14px;
    width: 80%;
    margin: auto;
} */